.auth-container {
  display: flex;
  min-height: 100vh;
  padding: 0 80px;
  position: relative;
}

/* LOGO */
.auth-logo {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 120px;
}

/* COLUMNAS */
.auth-left,
.auth-center,
.auth-right {
  flex: 1;
  display: flex;
}

/* INFO */
.auth-left {
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 180px;
}

/* ILUSTRACIÓN (más abajo como Figma) */
.auth-center {
  justify-content: center;
  align-items: flex-start;
  padding-top: 220px;
}

/* FORM */
.auth-right {
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 120px;
}
